<div class="modal-header">
	<h3 class="modal-title pull-left" id="modal-title">病患历史记录</h3>

	<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div cg-busy="myPromise"></div>
<div class="modal-body clearfix" id="main-conclusion" ng-cloak="true">

	<uib-tabset active="activeTab" justified="true">
		<uib-tab index="0" ng-click="activeTab = 0">
			<uib-tab-heading class="tab-header  {{activeTab == 0?'text-warning':''}}">
				<i class="fa fa-address-card" aria-hidden="true"></i>
				个人信息
			</uib-tab-heading>
			<div class="tab-content" style="padding:2px 20px;">

				<div class="row">
					<div class="col-sm-2 text-muted">
						姓名
					</div>
					<div class="col-sm-10">
						{{history.user.name}}
						<i class="fa {{history.user.gender=='F' ? 'text-danger fa-female' :(history.user.gender=='M'?'fa-male text-primary':'')}}" aria-hidden="true"></i>
					</div>
				</div>
					<div class="row">
						<div class="col-sm-2 text-muted">
							手机号
						</div>
						<div class="col-sm-10">
							{{history.user.cell}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 text-muted">
							生日
						</div>
						<div class="col-sm-10">
							{{history.user.birthdate | amDateFormat: 'YYYY年MM月DD日'}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 text-muted">
							社保号
						</div>
						<div class="col-sm-10">
							{{history.user.sin}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 text-muted">
							门诊号
						</div>
						<div class="col-sm-10">
							{{history.user.admissionNumber}}
						</div>
					</div>

			</div>
		</uib-tab>

		<uib-tab index="1" ng-click="activeTab = 1">
			<uib-tab-heading class="tab-header {{activeTab == 1?'text-warning':''}} ">
				<i class="fa fa-archive" aria-hidden="true"></i>
				门诊记录
			</uib-tab-heading>
			<div class="tab-content">
				包含该患者的所有门诊记录(过去的,已经发布的)
			</div>

		</uib-tab>
		<uib-tab index="2" ng-click="activeTab = 2" class="">
			<uib-tab-heading class="tab-header {{activeTab == 2?'text-warning':''}}">
				<i class="fa fa-flask" aria-hidden="true"></i>
				化验结果
			</uib-tab-heading>
			<div class="tab-content">
				按照时间排序,最新的在上面。
			</div>
		</uib-tab>

		<uib-tab index="3" ng-click="activeTab = 3" class="">
			<uib-tab-heading class="tab-header {{activeTab == 3?'text-warning':''}}">
				<i class="fa fa-fire" aria-hidden="true"></i>
				联合用药
				<span class="label label-info label-pill">2</span>
			</uib-tab-heading>
			<div class="tab-content">
				按照时间排序,最新的在上面。
			</div>
		</uib-tab>

		<uib-tab index="4" ng-click="activeTab = 4" class="">
			<uib-tab-heading class="tab-header {{activeTab == 4?'text-warning':''}}">
				<i class="fa fa-fire" aria-hidden="true"></i>
				不良反应
				<span class="label label-info label-pill">1</span>
			</uib-tab-heading>
			<div class="tab-content">
				按照时间排序,最新的在上面。
			</div>
		</uib-tab>

	</uib-tabset>


</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$dismiss()">
		<i class="fa fa-times" aria-hidden="true"></i>
		关闭
	</button>
</div>

