#topbar {
	.navbar {
		box-shadow: $topbar-shadow;
	}
    .navbar-fixed-top {
  		border: 0;
  		background-color: $topbar-bg;
  		color: $topbar-color;
	}
	.avatar {
		object-fit: cover;
		border-radius: 500px;
		max-width: 50px;
	}
	.nav-link {
    	display: block;

	}
	.menu-img {
	  width: 46px;
	  height: 46px;
		margin: 2px 10px;
	}
	a {
		color: $topbar-color;
		&:hover {
			color: lighten($topbar-color, 10%);
			text-decoration: none;
			cursor: pointer;
			cursor: hand;
		}
	}
	.navbar-brand {
		padding-top: 10px;
	}


}
