<nav window-resize class="navbar navbar-dark navbar-fixed-top bg-inverse" role="navigation">

	<div class="navbar-header">

		<a class="navbar-toggle" ng-init="isNavCollapsed = true" ng-click="isNavCollapsed = !isNavCollapsed">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</a>
		<a class="navbar-brand" href ui-sref="app.home"><img src="/assets/images/logo.png" height="33px"> </a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse form-inline" uib-collapse="isNavCollapsed">

		<ul class="nav navbar-nav">
			<li data-toggle="collapse" data-target=".navbar-collapse.in" class="nav-item">
				<a class="nav-link" ui-sref="app.main" ui-sref-active="active">药师门诊</a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="doctorManagement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					药师管理&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
				<ul class="dropdown-menu" aria-labelledby="doctorManagement">
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
						<a class="dropdown-item" href ui-sref="app.book">
						<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;门诊预约</a></li>
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
						<a class="dropdown-item" href ui-sref="app.chat">
						<i class="fa fa-wechat" aria-hidden="true"></i>&nbsp;&nbsp;在线咨询</a></li>
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
						<a class="dropdown-item" href ui-sref="app.articlePush">
						<i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp;宣教材料推送</a></li>
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
						<a class="dropdown-item" href ui-sref="app.shortcut">
						<i class="fa fa-reply" aria-hidden="true"></i>&nbsp;&nbsp;快捷回复管理</a></li>
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
						<a class="dropdown-item" href ui-sref="app.pushMessage">
						<i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;推送消息记录</a></li>
				</ul>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					病患管理&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
				<ul class="dropdown-menu" aria-labelledby="supportedContentDropdown">
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
						<a class="dropdown-item" href ui-sref="app.patientManage">
							<i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;&nbsp;用户管理</a></li>
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
						<a class="dropdown-item" href ui-sref="app.patientGroupManage">
							<i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp;&nbsp;用户组管理</a></li>
				</ul>
			</li>
		</ul>


		<ul class="nav navbar-nav" ng-class="{'pull-right': isNavCollapsed}">

			<li class="nav-item dropdown">

				<a class="nav-link dropdown-toggle" ng-class="{'pull-right': isNavCollapsed}" id="myAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

					<span class="badge bg-danger" ng-if="debug&&debug!='undefined'">{{debug}}</span>
					<img class="avatar menu-img" ng-src="{{doctorIcon}}">
					{{login.name}}
					&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
				</a>
				<ul class="dropdown-menu  mr-2" ng-class="{'pull-right': isNavCollapsed}" aria-labelledby="myAccount">
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
						<a class="dropdown-item" href ui-sref="app.profile">
						<i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;个人资料</a></li>
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
					<a class="dropdown-item" ng-click="changePassword()">
						<i class="fa fa-server" aria-hidden="true"></i>&nbsp;&nbsp;密码修改</a></li>
					<div class="divider"></div>
					<li data-toggle="collapse" data-target=".navbar-collapse.in">
						<a class="dropdown-item" ng-click="logout()">
						<i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;退出</a></li>
				</ul>
			</li>

		</ul>

		<div class="pull-right" ng-if="isNavCollapsed">

			<msg-center object="alert.feedback1"></msg-center>
			<msg-center object="alert.feedback2"></msg-center>
			<msg-center object="alert.chat"></msg-center>

			<ul class="nav navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle px-2" id="myStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa {{currentStatus.icon}}" aria-hidden="true"></i>
						{{currentStatus.name}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu pull-right mr-4" style="right: auto;" aria-labelledby="myStatus">
						<li ng-repeat="status in statusList">
							<a class="dropdown-item my-item" ng-click="updateStatus(status)">
								<i class="fa {{status.icon}}" aria-hidden="true"></i>
								{{status.name}}
							</a>
						</li>
					</ul>
				</li>
			</ul>

		</div>


	</div>


</nav>
