html {
  background-color: $body-bg;
}
body {
  font-size: 14px;
  line-height: 18px;
  Font-family: "Helvetica Neue", Helvetica, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
  background-color: $body-bg;
  -webkit-font-smoothing: antialiased;
}
a {
	cursor: pointer;
	cursor: hand;

	&:hover {
		text-decoration: none;
	}
}
.wrapper {
	padding-top: 50px;
	padding-left: $sidebar-width;
}
.container-fluid {
	margin-right: auto;
    margin-left: auto;
    padding: 0.9375rem;
}
.break {
	margin-top: 15px;
}

.pal {
  padding: 2rem;
}
.pam {
  padding: 1rem;
}
.pams {
  padding: .75rem;
}
.pas {
  padding: .5rem;
}
.paxs {
  padding: .25rem;
}

.ptl {
  padding-top: 2rem;
}
.ptm {
  padding-top: 1rem;
}
.ptms {
  padding-top: .75rem;
}
.pts {
  padding-top: .5rem;
}
.ptxs {
  padding-top: .25rem;
}
