
<div id="main-process" class="box">
	<div class="box-header">
		<div class="h3 pull-left">药师门诊 </div>

		<div class="pull-right" ng-if="switchInMode(1)">
			<span class="btn {{isFirstVisit? 'btn-info': 'btn-warning'}}" style="padding: 4px 11px;margin-top:15px" ng-click="vm.viewPatientHistory()">
				{{ patient? patient.name : '未选患者' }}&nbsp;
				<span class="divider-vertical"></span>
				<i class="fa fa-history" aria-hidden="true"></i>
			</span>

		</div>
		<button type="button" class="close pull-right pt-2" ng-if="switchInMode(2, true)"
						aria-label="Close" ng-click="$dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div cg-busy="myPromise"></div>
	<div class="box-body clearfix">
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-default" ng-click="vm.selectBooking()" ng-if="switchInMode(1, true)">选择预约</button>

				<button class="btn btn-default" ng-click="vm.selectPatient()" ng-if="switchInMode(1, true)">
					<i class="fa {{diagnose.user? 'fa-check-circle text-success':''}}" aria-hidden="true"></i>
					选择患者
				</button>

				<div class="btn-group" ng-if="false && switchInMode(1, true)">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<i class="fa {{diagnose.user? 'fa-check-circle text-success':''}}" aria-hidden="true"></i>
						<span ng-click="vm.selectPatient()">选择患者</span>
						<span class="divider-vertical"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li class="dropdown-item"><a ng-click="vm.createPatient()">新建患者</a></li>
					</ul>
				</div>
				<div class="btn-group" ng-if="switchInMode(0)">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<i class="fa {{surveyFirst? 'fa-check-circle text-success':''}}" aria-hidden="true"></i>
						<span ng-click="vm.openSurvey(isFirstVisit?1:2, readonly, diagnose)">{{isFirstVisit?'初诊':'复诊'}}问卷</span>
						<span class="divider-vertical"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li class="dropdown-item"><a ng-click="vm.sendSurvey(isFirstVisit?1:2)" ng-if="switchInMode(1)">
							发送{{isFirstVisit?'初诊':'复诊'}}问卷</a></li>
						<li class="dropdown-item"><a ng-click="vm.openSurvey(3, readonly, diagnose)">编辑查看随访问卷</a></li>
						<li class="dropdown-item"><a ng-click="vm.sendSurvey(3)" ng-if="switchInMode(1)">发送随访问卷</a></li>
						<li class="dropdown-item"><a ng-click="vm.openSurvey(4, readonly, diagnose)">编辑查看用药知识自测问卷</a></li>
						<li class="dropdown-item"><a ng-click="vm.sendSurvey(4, true)" ng-if="switchInMode(1)">发送用药知识自测问卷</a></li>
					</ul>
				</div>
				<button class="btn btn-default" ng-click="vm.openSurvey(5, readonly, diagnose)"
								ng-if="switchInMode(0)">
					门诊结论</button>

				<button class="btn btn-primary pull-right" ng-click="vm.submitDiagnose()"
								ng-if="(diagnose.surveys.length>0)&&switchInMode(1)">
					<i class="fa fa-paper-plane" aria-hidden="true"></i>
					结束门诊
				</button>

				<hr/>
			</div>

		</div>
		<div class="pt-2 text-info" ng-if="switchInMode(0)">
			<h5>用药计划（处方）</h5>
			<button class="btn btn-default" ng-click="vm.addMedicine()" ng-if="switchInMode(1)">
				<i class="fa fa-medkit {{(diagnose.prescription && diagnose.prescription.length>0)? 'text-success':''}}" aria-hidden="true"></i>
				新开处方
			</button>
			<button class="btn btn-default" ng-click="vm.editNotices(readonly, diagnose)" ng-if="switchInMode(0) && diagnose.prescription.length>0">
				<i class="fa fa-bell {{(diagnose.notices && diagnose.notices.length>0)? 'text-success':'text-muted'}}" aria-hidden="true"></i>
				监测计划
			</button>
			<button type="button" class="btn btn-default" ng-if="switchInMode(1)" ng-click="vm.createLabResult()">
				<i class="fa {{(diagnose.labResults && diagnose.labResults.length>0)? 'fa-check-circle text-success':''}}" aria-hidden="true"></i>
				<span>化验结果</span>
			</button>

			<button class="btn btn-default pull-right" ng-click="vm.saveDiagnose()" ng-if="false && switchInMode(1)">
				<i class="fa fa-floppy-o" aria-hidden="true"></i>
				保存
			</button>

			<table class="table">
				<thead class="bold-text bg-info">
				<tr>
					<td style="width:30%">药名</td>
					<td style="width:30%">服用方法</td>
					<td style="width:23%">备注</td>
					<td style="width:10%"></td>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="medicine in diagnose.prescription track by $index">
					<td>{{ medicine.name }} (共{{ medicine.capacity }} {{ medicine.unit}} X {{medicine.quantity}})</td>
					<td>
						{{ medicine.usage }}: {{showInterval(medicine.dosage.intervalDay)}} {{medicine.dosage.way}} {{medicine.dosage.frequency}} 次, 每次 {{medicine.dosage.count}} {{medicine.unit}}</td>
					<td>{{ medicine.notes || '无' }}</td>
					<td>
						<div class="pull-right" ng-if="switchInMode(1)">
							<button class="btn btn-primary btn-xs" ng-click="editPrescription(medicine)">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
							&nbsp;
							<delete-btn item-id="medicine._id" yes-delete="removePrescription"></delete-btn>
						</div>
					</td>
				</tr>
				</tbody>
			</table>

		</div>
		<div style="padding-top: 14px;" ng-if="!switchInMode(1) && !history">
			使用说明内容。。。
		</div>

		<div ng-if="true">
			<hr/>
			{{diagnose}}
			<hr/>
			{{patient}}
			<hr/>
			{{history}}
		</div>

	</div>
</div>




