
<div id="main-process" class="box">
	<div class="box-header">
		<div class="h3 pull-left">门诊 </div>
		<span class="btn bg-success pull-right" style="padding: 3px 11px;">{{ patient? patient.name : '未选患者' }}</span>
	</div>
	<div cg-busy="myPromise"></div>
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="btn-group">
					<button type="button" class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span ng-click="vm.selectPatient()">选择患者</span>
						<span class="divider-vertical"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li class="dropdown-item"><a href="#">新建患者</a></li>
					</ul>
				</div>

				<div class="btn-group" ng-if="patient">
					<button type="button" class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span ng-click="vm.open()">打开随访问卷</span>
						<span class="divider-vertical"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li class="dropdown-item"><a href="#">发送用药知识自测问卷</a></li>
					</ul>
				</div>


				<button class="btn btn-primary-outline" ng-click="vm.selectFromOld()" ng-if="patient">开药</button>
				<button class="btn btn-primary-outline" ng-click="vm.selectFromOld()" ng-if="patient">录入化验结果</button>

				<button class="btn btn-primary-outline pull-right" ng-click="vm.sendMessage()">结论推送</button>
				<button class="btn btn-primary{{article._id?'':'-outline'}} pull-right m-r-md" ng-click="vm.saveArticle()">保存</button>
				<hr/>
			</div>
		</div>
	</div>
</div>




