#main-process {
  .divider-vertical {
	height: 36px;
	margin: 0 6px 0 4px;
	border-left: 1px solid #f2f2f2;
  }

}
#first-survey {
  input[type="text"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
  }
}

.tab-pane {
  padding: 20px 10px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}


#main-conclusion {
  .tab-header {
	padding: 2px 20px 2px;
  }

  .nav-justified > li {
	padding-bottom: 0 !important;
  }
  .nav-tabs.nav-justified > li > a {
	margin-left: 2px ;
	top: 1px;
	border: none;
  }
  .nav-tabs.nav-justified > li:first-child > a {
	margin-left: 0;
  }
  .nav-tabs.nav-justified > li > a:link {
	background: #eee;
  }

}

#select-a-medicine input[type="search"] {
  box-sizing: border-box;;
}

input .ng-invalid, input .ng-invalid-required {
  border-color: red;
  outline-color: red;
}
