
<div id="main-process" class="box">
	<div class="box-header">
		<div class="h3 pull-left">门诊 </div>
		<span class="btn bg-success pull-right" style="padding: 3px 11px;">{{ patient? patient.name : '未选患者' }}</span>
	</div>
	<div cg-busy="myPromise"></div>
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="btn-group">
					<button type="button" class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<i class="fa {{patient? 'fa-check-circle':''}}" aria-hidden="true"></i>
						<span ng-click="vm.selectPatient()">选择患者</span>
						<span class="divider-vertical"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li class="dropdown-item"><a href="#" ng-click="vm.createPatient()">新建患者</a></li>
					</ul>
				</div>

				<div class="btn-group" ng-if="patient">
					<button type="button" class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<i class="fa {{surveyFirst? 'fa-check-circle':''}}" aria-hidden="true"></i>
						<span ng-click="vm.surveyFirst()">初诊问卷</span>
						<span class="divider-vertical"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li class="dropdown-item"><a href="#">发送用药知识自测问卷</a></li>
					</ul>
				</div>


				<button class="btn btn-primary-outline" ng-click="" ng-if="patient">随访评估</button>
				<button class="btn btn-primary-outline" ng-click="vm.selectFromOld()" ng-if="patient">随访小结</button>
				<button class="btn btn-primary-outline" ng-click="vm.selectFromOld()" ng-if="patient">监测计划</button>
				<button class="btn btn-primary-outline" ng-click="vm.selectFromOld()" ng-if="patient">录入化验结果</button>

				<button class="btn btn-primary-outline pull-right" ng-click="vm.sendMessage()" ng-if="patient">结论推送</button>
				<button class="btn btn-primary{{article._id?'':'-outline'}} pull-right m-r-md" ng-click="vm.saveArticle()" ng-if="patient">保存</button>
				<hr/>
			</div>

		</div>
		<div style="padding-top: 10px;" ng-if="patient">
			<h5>用药计划（处方）</h5>
			<div>

			</div>
		</div>
		<div style="padding-top: 14px;" ng-if="!patient">
			使用说明内容。。。
		</div>
	</div>
</div>




