.top-dropdown-menu {
  width: 316px;
  left: auto;
  right: -47px;
  top: 40px;

  i.dropdown-arr {
	position: absolute;
	top: -22px;
	right: 42px;
	display: block;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-bottom-color: rgba(256,256,256,1);
  }

  .header {
	padding: 0 2px 12px;
	border-bottom: 1px solid #fff;
	font-size: 14px;
  }

  .msg-list {
	max-height: 296px;
	overflow-x: hidden;

	.row{
		margin-left: 0;
	}

	div.msg-item {
	  display: inline-block;
	  border-top: 1px solid lightgray;

	  :hover {
		background-color: lightcyan;
		display: block;
	  }

	  .img-area {
		float: left;
		width: 36px;
		padding: 4px 0;

		img {
		  width: 36px;
		  height: 36px;
		  border-radius: 18px;
		}
	  }

	  .msg-area {
		float: right;
		width: 250px;
		padding: 4px 0 4px 14px;
	  }
	}


  }

}

.left-info {
  padding-left: 10px;
  border-left: 2px solid $accent;
}


.form-control .ng-invalid, .form-control .ng-invalid-required {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
