<div class="modal-header">
	<h3 class="modal-title pull-left" id="modal-title">药师密码修改</h3>
	<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss('cancel')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div cg-busy="myPromise"></div>
<div class="modal-body px-4" id="modal-body">
	<form name="changePwdForm" novalidate>
		<fieldset class="form-group">
			<label class="text-muted" for="password">新密码</label>
			<input type="password" class="form-control" id="password" placeholder="密码" ng-model="credentials.password" required>
		</fieldset>
		<fieldset class="form-group">
			<label class="text-muted" for="passwordComfirm">确认密码</label>
			<input type="password" class="form-control" id="passwordComfirm" placeholder="密码" ng-model="credentials.passwordConfirm" required>
		</fieldset>

		<div class="text-danger" ng-if="changePwdForm.$invalid && changePwdForm.$dirty || credentials.password !== credentials.passwordConfirm">
			<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
			未输入密码或密码不同
		</div>
	</form>

</div>

<div class="modal-footer clearfix">
	<button class="btn btn-primary" type="button" ng-disabled="changePwdForm.$invalid || credentials.password !== credentials.passwordConfirm"
					ng-click="changePassword(credentials.password)">更改</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">取消</button>
</div>
