<div class="modal-header">
	<div class="clearfix">
		<h4 class="modal-title pull-left" id="modal-title">选择编辑检测计划</h4>
		<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss('cancel')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
<div cg-busy="myPromise"></div>
	<div class="modal-body" id="modal-body">
		<div>
			<em class="text-muted">从预设的检测计划列表中选择 (提醒开始负数为服药结束日往前溯)</em>
			<button class="btn btn-default pull-right m-r-md"
							ng-click="addNotice()" ng-if="diagnose.user && !readonly">
				<i class="fa fa-plus" aria-hidden="true"></i>
				新增
			</button>
		</div>

		<table class="table">
			<thead class="bold-text bg-info">
			<tr>
				<td style="width:4%"></td>
				<td style="width:30%">名称</td>
				<td style="width:30%">起止时间</td>
				<td style="width:10%">提醒开始</td>
				<td style="width:10%">持续天数</td>
				<td style="width:10%">需确认?</td>
				<td style="width:6%"></td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in noticeList" ng-class="item.selected ? 'text-success':''" class="editable-row" ng-disabled="readonly">
				<td ng-show="false">
                <span editable-text="item._id" e-name="_id" e-form="rowform" e-required>
                    {{item._id}}
                </span>
                <span editable-checkbox="item.apply" e-name="apply" e-form="rowform" e-required>
                  {{ item.apply || false }}
                </span>
				</td>
				<td><input type="checkbox" ng-model="item.selected" ng-change="updateNotices()" ng-disabled="readonly"></td>
				<td>
					<span editable-text="item.notice" e-name="notice" e-form="rowform" e-style="width:320px;" >
						{{ item.notice || 'empty' }}
					</span>
					<!--<input type="text" class="form-control" ng-model="item.notice" placeholder="设置提醒名称">-->
				</td>
				<td>
					<span editable-date="item.startDate" e-name="startDate" e-form="rowform" e-required >
						{{ item.startDate | amDateFormat: 'YYYY年MM月DD日' }}
					</span>
					-
					<span editable-date="item.endDate" e-name="endDate" e-form="rowform" >
						{{ item.endDate | amDateFormat: 'YYYY年MM月DD日' }}
					</span>
				</td>
				<td>
					<span editable-number="item.days_to_start" e-name="days_to_start" e-form="rowform" e-required e-style="width:80px;" >
						{{ item.days_to_start || '' }}
					</span>
				</td>
				<td>
					<span editable-number="item.during" e-name="during" e-form="rowform" e-required e-style="width:80px;" >
						{{ item.during || '' }}
					</span>
				</td>
				<td>
					<span editable-checkbox="item.require_confirm" e-name="require_confirm" e-form="rowform" e-required>
						{{ item.require_confirm || false }}
					</span>
				</td>
				<td style="white-space: nowrap"> 
					<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" 
								shown="inserted == item" ng-if="!readonly"> 
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm"> 保存 </button> 
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-sm"> 取消 </button>
					</form> 
					<span class="btn btn-link btn-sm text-primary" ng-click="rowform.$show()" ng-show="!rowform.$visible"> 
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
					</span> 
				</td> 
			</tr>
			</tbody>
		</table>

		<div ng-if="!noticeList || noticeList.length<1"> 
			无预设的检测计划。
		</div>

	</div>
	<div class="modal-footer clearfix">
		<button class="btn btn-primary" type="button" ng-disabled="form.$invalid || !notices " ng-click="selectOk()">确认</button>
		<button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">取消</button>
	</div>
