<div class="modal-header">
	<div class="clearfix">
		<h4 class="modal-title pull-left" id="modal-title">录入化验报告单</h4>
		<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss('cancel')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<em class="text-muted">从预设的检测计划列表中选择 (提醒开始负数为服药结束日往前溯)</em>
	<button class="btn btn-primary-outline pull-right m-r-md"
					ng-click="addLabResult()" ng-if="diagnose.user">
		<i class="fa fa-plus" aria-hidden="true"></i>
		新增化验单
	</button>
</div>
<div cg-busy="myPromise"></div>
	<div class="modal-body" id="modal-body">
		<div class="panel panel-info" ng-if="editResult">
			<div class="panel-heading clearfix">
				<h5 class="pull-left">编辑化验报告单</h5>

				<div class="text-primary btn-link pull-right m-r-md" ng-click="addLabTestItem()">
					<i class="fa fa-plus" aria-hidden="true"></i>
					增加测试项
				</div>
			</div>

			<form name="mainForm">
				<div class="row">
					<div class="col-sm-6">
						<span class="text-muted">化验单名</span> <span class="text-danger">*</span>&nbsp;
						<input class="" type="text" placeholder="输入化验单名" style="width:320px" ng-model="editResult.name" autofocus required>
					</div>
					<div class="col-sm-6">
						<span class="text-muted">化验日期</span> <span class="text-danger">*</span>&nbsp;
							<input type="date" placeholder="化验日期" ng-model="editResult.testDate" required>
					</div>
					<input type="hidden" ng-model="editResult._id">

				</div>
			</form>
				<table class="table table-hover table-condensed">
					<thead class="bold-text bg-primary">
					 <tr>
						<td style="width:40%">检查项目</td>
						<td style="width:40%">检查结果</td>
						<td style="width:20%"></td>
					 </tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in editResult.list track by $index" class="editable-row">
						<td ng-show="false">
								<span editable-text="item._id" e-name="_id" e-form="rowform" e-required>
										{{item._id}}
								</span>
						</td>
						</td>
						<td>
						<span editable-text="item.item" e-name="item" e-form="rowform" e-required onbeforesave="checkItem($data)" e-style="width:320px;" >
							{{ item.item || '空' }}
						</span>
							<!--<input type="text" class="form-control" ng-model="item.notice" placeholder="设置提醒名称">-->
						</td>
						<td>
							<span editable-text="item.result" e-name="result" e-form="rowform" e-required onbeforesave="checkItem($data)" e-style="width:320px;" >
								{{ item.result || '空' }}
							</span>
						</td>

						<td style="white-space: nowrap" class="pull-right">
							<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
										shown="inserted == item">
								<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm">
									保存
								</button>
								<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-sm">
									取消
								</button>
							</form>
								<span class="btn btn-primary-outline btn-sm" ng-click="rowform.$show()" ng-show="!rowform.$visible">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
								</span>
								<span class="btn btn-danger-outline btn-sm" ng-click="deleteItem($index)" ng-show="!rowform.$visible">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</span>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="pull-right">
					<button class="btn btn-primary-outline btn-sm" ng-click="updateContent()" ng-disabled="mainForm.$invalid">
						保存
					</button>
					<button class="btn btn-default-outline btn-sm" ng-click="cancelUpdateContent()">
						取消
					</button>
				</div>

			<div class="clearfix"></div>
			<hr/>
		</div>

		<div>
			<h5 class="modal-title pull-left">化验报告单</h5>

			<table class="table table-hover table-condensed">
				<thead class="bold-text bg-info">
				<tr>
					<td style="width:50%">化验单名</td>
					<td style="width:30%">化验日期</td>
					<td style="width:10%">化验项</td>
					<td style="width:10%"></td>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="result in labResults track by $index" class="editable-row">
					<td ng-show="false">
						{{result._id}}
					</td>
					</td>
					<td>
						{{ result.name || '空' }}
					</td>
					<td>
						{{ result.testDate | amDateFormat: 'YYYY年MM月DD日' }}
					</td>
					<td>
						{{ result.list.length }}
					</td>
					<td style="white-space: nowrap" class="pull-right">
						<span class="btn btn-primary-outline btn-sm" ng-click="editLabResult(result)">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</span>
						<span class="btn btn-danger-outline btn-sm" ng-click="removeLabResult($index)">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
						</span>
					</td>
				</tr>
				</tbody>
			</table>

			<div ng-if="!labResults || labResults.length<1"> 
				无可用化验报告单。
			</div>
		</div>

	</div>
	<div class="modal-footer clearfix">
		<button class="btn btn-primary" type="button" ng-disabled="form.$invalid || !labResults " ng-click="selectOk()">确认</button>
		<button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">取消</button>
	</div>
