<div class="modal-header">
	<h3 class="modal-title pull-left" id="modal-title">创建新处方</h3>

	<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div cg-busy="myPromise"></div>
<div class="modal-body clearfix" id="modal-body">
	<div>
		<label for="select-a-medicine" class="control-label">选择药品</label>
			<ui-select ng-model="selectedMedicine.selected" id="select-a-medicine"
								 on-select="setSelectedMedicine($item)">
				<ui-select-match placeholder=" 选择或搜索药品名...">
					{{$select.selected.name}}
				</ui-select-match>
				<ui-select-choices repeat="item in medicines | filter: {name: $select.search}">
					<div ng-bind-html="item.name | highlight: $select.search"></div>
				</ui-select-choices>
				<ui-select-no-choice>
					<span class="px-3 text-muted">没有搜索的药名</span>
				</ui-select-no-choice>
			</ui-select>


	</div>
	<hr/>
	<form name="medicineForm" >

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="inputName" class="control-label text-muted">药名</label>
					<input type="hidden" ng-model="selectedMedicine._id">
					<input type="text" class="form-control" id="inputName" placeholder="" ng-model="selectedMedicine.name" required />
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="inputCapacity" class="control-label text-muted">药品单位总量</label>
					<input type="number" class="form-control" id="inputCapacity" ng-model="selectedMedicine.capacity" min="0" max="10000" required />
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="inputCapacity" class="control-label text-muted">单位</label>
					<select class="form-control" ng-model="selectedMedicine.unit" required>
						<option value="粒" selected>粒</option>
						<option value="毫升">毫升</option>
					</select>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="form-group">
					<label for="inputCount" class="control-label text-muted">数量</label>
					<div class="input-group">
						<span class="input-group-addon">X</span>
						<input type="number" class="form-control" id="quantity" min="0"
									 ng-model="selectedMedicine.quantity" required />
					</div>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="inputStartDate" class="control-label text-muted">开始服用日期</label>
					<div class="input-group">
						<input type="date" class="form-control" id="inputStartDate" placeholder="yyyy-MM-dd"
									 ng-model="selectedMedicine.startDate" required />
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="inputEndDate" class="control-label text-muted">结束日期</label>
					<div class="input-group">
						<input type="date" class="form-control" id="inputEndDate"
									 ng-model="selectedMedicine.endDate" />
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="inputUsage" class="control-label text-muted">使用方法</label>
					<select class="form-control" ng-model="selectedMedicine.usage" id="inputUsage" required
									ng-options="usage for usage in usages">
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label class="control-label text-muted">服药时间</label>
				<select class="form-control" ng-model="selectedMedicine.dosage.intervalDay" ng-required
					ng-options="intervalDay.value as intervalDay.name for intervalDay in intervalDays">
				</select>
			</div>
			<div class="col-sm-2">
				<label class="control-label text-muted">时间备注</label>
				<select class="form-control" ng-model="selectedMedicine.dosage.way"
								ng-options="way for way in ways">
				</select>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="inputFrequency" class="control-label text-muted">服用频率</label>
					<input type="number" class="form-control" id="inputFrequency" min="0" max="100"
								 ng-model="selectedMedicine.dosage.frequency" required />
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="inputCount" class="control-label text-muted">每次</label>
					<div class="input-group">
						<input type="number" class="form-control" id="inputCount" min="0"
									 ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									 ng-model="selectedMedicine.dosage.count" required />
						<span class="input-group-addon" id="basic-addon2">{{selectedMedicine.unit}}</span>
					</div>

				</div>
			</div>
			<div class="col-sm-4 pull-right" >
				<div class="form-group">
					<br>
					<button class="btn btn-default" ng-click="caculateEndDate()" ng-if="caculationAvailable()">
						计算时间
					</button>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="inputNotes" class="control-label text-muted">备注</label>
					<textarea class="form-control" id="inputNotes" placeholder="输入药师备注" ng-model="selectedMedicine.notes" />
				</div>
			</div>
		</div>

	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="selectOk()">选择</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss()">取消</button>
</div>

