<div class="modal-header">
	<div class="clearfix">
		<h3 class="modal-title pull-left" id="modal-title">选择预约</h3>
		<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss('cancel')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
<div cg-busy="myPromise"></div>
<form name="form">
	<div class="modal-body" id="modal-body">

		<div class="text-muted mb-3">今日门诊预约:</div>

		<table st-safe-src="bookings" st-table="displayCollection" class="table table-striped mb-0">
			<tbody>
			<tr ng-repeat="booking in displayCollection track by $index">
				<td>
					<label class="text-primary w-100">
						<input type="radio" name="searchResults" ng-click="selectBooking($index)">
						&nbsp;&nbsp;&nbsp;{{booking.user.name}}
						<i class="fa {{booking.user.gender=='F' ? 'text-danger fa-female' :(booking.user.gender=='M'?'fa-male text-primary':'')}}" aria-hidden="true"></i>
						<span class="text-muted pl-3">手机:</span> {{booking.user.cell}}
						<span class="text-muted pl-3">时间:</span> {{booking.schedule.period.name}}
						<span class="text-muted pl-3">生日:</span> {{booking.user.birthdate | amDateFormat: 'YYYY年MM月DD日'}}
					</label>
				</td>
			</tr>
			</tbody>
		</table>

		<div ng-if="!bookings || bookings.length<1"> 
			无今日可用预约。
		</div>
	</div>
	<div class="modal-footer clearfix">
		<button class="btn btn-primary" type="button" ng-disabled="form.$invalid || !selectedBooking" ng-click="selectOk()">确认</button>
		<button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">取消</button>
	</div>
</form>



