<div class="modal-header">
	<div class="clearfix">
		<h3 class="modal-title pull-left" id="modal-title">选择患者</h3>
		<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss('cancel')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="text-muted">请根据以下选项选择门诊病患</div>
</div>
<div cg-busy="myPromise"></div>
<form name="form">
	<div class="modal-body" id="modal-body">

		<div class="row pb-3">
			<div class="col-sm-4">
				<div class="form-inline">
					<label class="form-control-label text-muted"> 请选择</label>
					<select class="form-control form-control-" data-ng-model="searchOption">
						<!--<option value="0" selected>搜索选项</option>-->
						<option value=1>门诊号</option>
						<option value="2">姓名</option>
						<option value="3">手机号码</option>
						<option value="4">社保号</option>
					</select>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="form-inline">
					<input class="form-control" type="text" placeholder="请输入..." ng-model="searchValue" autofocus required>
					<button class="btn btn-primary" ng-click="searchPatients()">搜索</button>
				</div>

			</div>
		</div>

		<table st-safe-src="patients" st-table="displayCollection" class="table table-striped mb-0">
			<tbody>
			<tr ng-repeat="patient in displayCollection">
				<td>
					<label class="text-primary w-100">
						<input type="radio" name="searchResults" ng-model="$parent.selectedPatient" ng-value="patient">
						&nbsp;&nbsp;&nbsp;{{patient.name}}
						<i class="fa {{patient.gender=='F' ? 'text-danger fa-female' :(patient.gender=='M'?'fa-male text-primary':'')}}" aria-hidden="true"></i>
						<span class="text-muted pl-3">手机:</span> {{patient.cell}}
						<span class="text-muted pl-3">生日:</span> {{patient.birthdate | amDateFormat: 'YYYY年MM月DD日'}}
					</label>
				</td>
			</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="1" class="text-center">
						<div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
					</td>
				</tr>
			</tfoot>
		</table>

		<div class="well text-info" ng-if="patients && patients.length < 1 && getResults && myPromise">
			无搜索结果
		</div>
	</div>
	<div class="modal-footer clearfix">
		<button class="btn btn-primary" type="button" ng-disabled="form.$invalid || !selectedPatient" ng-click="selectOk()">选择</button>
		<button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">取消</button>
	</div>
</form>



