<div class="modal-header">
	<div class="clearfix">
		<h3 class="modal-title pull-left" id="modal-title">选择预约</h3>
		<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss('cancel')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<em class="text-muted">从今天的门诊预约列表中选择</em>
</div>
<div cg-busy="myPromise"></div>
<form name="form">
	<div class="modal-body" id="modal-body">

		<div ng-repeat="booking in bookings track by $index" class="clearfix p-l-md" ng-if="bookings && bookings.length>0"> 
			<div class="row">
				<label class="text-primary">
					&nbsp;
					<input type="radio" name="searchResults" ng-click="selectBooking($index)">
					&nbsp;{{booking.user.name}}
					&nbsp;手机: {{booking.user.cell}}
					&nbsp;状态: {{booking.status}}
				</label>
			</div> 
		</div>

		<div ng-if="!bookings || bookings.length<1"> 
			无今日可用预约。
		</div>
	</div>
	<div class="modal-footer clearfix">
		<button class="btn btn-primary" type="button" ng-disabled="form.$invalid || !selectedBooking" ng-click="selectOk()">确认</button>
		<button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">取消</button>
	</div>
</form>



