<div class="modal-header">
	<h3 class="modal-title pull-left" id="modal-title">发送门诊结论</h3>

	<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div cg-busy="myPromise"></div>
<div class="modal-body clearfix" id="main-conclusion" ng-cloak="true">

	<uib-tabset active="activeTab" justified="true">
		<uib-tab index="0" ng-click="activeTab = 0">
			<uib-tab-heading class="tab-header  {{activeTab == 0?'text-warning':''}}">
				<i class="fa fa-address-card" aria-hidden="true"></i>
				门诊小结
			</uib-tab-heading>
			<div class="tab-content">
				<div ng-repeat="survey in conclusion.surveys track by $index" style="padding: 0 0 10px;"
						 ng-if="conclusion.surveys && conclusion.surveys.length>0">
					<div class="alert alert-success text-center" style="padding-bottom: 20px;">{{survey.name}}</div>
					<div style="padding: 0 10px 16px;" ng-repeat="question in survey.questions track by $index">
						<h5 class="text-primary">{{$index + 1}}. {{question.question}}</h5>
						<div ng-repeat="option in question.options track by $index" style="padding: 0 0 0 20px;" class="form-inline">
							<div class="text-muted form-group">
								<label ng-if="question.answer_type == 0 || question.answer_type == 1">
									<input type="{{getTypeById(question.answer_type)}}" class="form-control"
												 name="answer{{$parent.$parent.$parent.$index}}{{$parent.$parent.$index}}{{$parent.$index}}"
												 ng-checked="option.selected"
												 data-ng-model="option.selected"
												 data-ng-value="option.selected || 'trick for radio'"
												 ng-click="changeSelection(question, $index)">

									<span>&nbsp;&nbsp;{{option.answer}}</span>
								</label>
								<label ng-if="question.answer_type == 2">
									<input type="{{getTypeById(question.answer_type)}}" class="form-control"
												 name="answer{{$parent.$parent.$parent.$index}}{{$parent.$parent.$index}}{{$parent.$index}}"
												 ng-checked="option.selected"
												 ng-click="changeSelection(question, $index)">

									<span>&nbsp;&nbsp;{{option.answer}}</span>
								</label>
					<textarea ng-if="question.answer_type == 3" style="width:536px;"
										ng-model="option.answer" class="form-control"></textarea>
								<input type="text" ng-model="option.input" class="form-control"
											 ng-if="option.input_required && option.selected">
							</div>
						</div>
					</div>

				</div>
				<div ng-if="!conclusion.surveys || conclusion.surveys.length<1" >
					<p>无可用门诊结论问卷。请联系管理者到后台增加。</p>
				</div>
			</div>
		</uib-tab>

		<uib-tab index="1" ng-click="activeTab = 1">
			<uib-tab-heading class="tab-header {{activeTab == 1?'text-warning':''}} ">
				<i class="fa fa-medkit" aria-hidden="true"></i>
				门诊处方
			</uib-tab-heading>
			<div class="tab-content">
				<table class="table">
					<thead class="bold-text bg-info">
					<tr>
						<td style="width:30%">药名</td>
						<td style="width:40%">服用方法</td>
						<td style="width:30%">备注</td>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="medicine in diagnose.prescription">
						<td>{{ medicine.name }} (共{{ medicine.capacity }} {{ medicine.unit}})</td>
						<td>{{ medicine.usage }}: {{medicine.dosage.way}} {{medicine.dosage.frequency}} 次, 每次 {{medicine.dosage.count}} {{medicine.unit}}</td>
						<td>{{ medicine.notes || '无' }}</td>
					</tr>
					</tbody>
				</table>

			</div>
		</uib-tab>

		<uib-tab index="2" ng-click="activeTab = 2" class="">
			<uib-tab-heading class="tab-header {{activeTab == 2?'text-warning':''}}">
				<i class="fa fa-bell" aria-hidden="true"></i>
				监测计划
			</uib-tab-heading>
			<div class="tab-content">
				<table class="table">
					<thead class="bold-text bg-info">
					<td style="width:60%">名称</td>
					<td style="width:17%">提醒开始</td>
					<td style="width:11%">持续天数</td>
					<td style="width:12%">确认取消?</td>
					</thead>
					<tbody>
					<tr ng-repeat="item in diagnose.notices" ng-class="item.selected ? 'text-success':''" class="editable-row">
						<td>
          {{ item.notice || 'empty' }}
						</td>
						<td>
						{{ (item.days_to_start >=0 ? '服药开始后' + item.days_to_start : '服药结束前' + -item.days_to_start) + '天'}}
						</td>
						<td>
						{{ item.during + '天' }}
						</td>
						<td>
						{{ item.require_confirm ? '需要' : '不需要' }}
						</td>
					</tr>
					</tbody>
				</table>

				<div ng-if="!diagnose.notices || diagnose.notices.length<1"> 
					无预设的检测计划。
				</div>
			</div>
		</uib-tab>

		<uib-tab index="3" ng-click="activeTab = 3">
			<uib-tab-heading class="tab-header {{activeTab == 3?'text-warning':''}} ">
				<i class="fa fa-share" aria-hidden="true"></i>
				建议转诊
			</uib-tab-heading>
			<div class="tab-content">
				Some Tab Content
			</div>

		</uib-tab>
	</uib-tabset>


</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="selectOk()">
		<i class="fa fa-paper-plane" aria-hidden="true"></i>
		发送门诊结论
	</button>
	<button class="btn btn-primary" type="button" ng-click="rollbackVisitedDepartments()">undo 发送(test)</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss()">取消</button>
</div>

