<div class="modal-header" id="first-survey">
	<h3 class="modal-title pull-left" id="modal-title">选择发送{{surveyTitle}}问卷</h3>

	<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div cg-busy="myPromise"></div>
<div class="modal-body clearfix" id="modal-body">

	<div ng-repeat="survey in surveys track by $index" class="p-l-md"	ng-if="surveys && surveys.length>0">
		<div class="text-muted checkbox">
			<label>
				<input type="checkbox" class="form-control"
							 ng-checked="survey.selected"
							 ng-model="survey.selected"
							 ng-click="changeSelection(survey, $index)">

				<span>&nbsp;&nbsp;{{survey.name}}</span>
			</label>
			&nbsp;&nbsp;
			<span class="btn btn-link btn-primary" uib-tooltip="{{getQuestionList(survey)}}" tooltip-placement="bottom">
				<i class="fa fa-list-ul" aria-hidden="true"></i>
			</span>
		</div>
	</div>
	<blockquote ng-if="!surveys || surveys.length<1" >
		<p>无可用问卷。请联系管理者到后台增加。</p>
	</blockquote>

</div>

<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="selectOk()">确认</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss()">取消</button>
</div>


