<div class="modal-header">
	<h3 class="modal-title pull-left" id="modal-title">初诊问卷</h3>

	<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div cg-busy="myPromise"></div>
<div class="modal-body clearfix" id="modal-body">

	初诊问卷 content goes here...
</div>

<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="selectOk()">选择</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss()">取消</button>
</div>


