<div class="modal-header" id="first-survey">
	<h3 class="modal-title pull-left" id="modal-title">{{surveyTitle}}</h3>

	<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div cg-busy="myPromise"></div>
<div class="modal-body clearfix" id="modal-body">

	<div ng-repeat="survey in surveys track by $index" style="padding: 0 0 10px;"	ng-if="surveys && surveys.length>0">
		<div class="alert alert-success text-center" style="padding-bottom: 20px;">{{survey.name}}</div>
		<div style="padding: 0 10px 16px;" ng-repeat="question in survey.questions track by $index">
			<h5 class="text-primary">{{$index + 1}}. {{question.question}}</h5>
			<div ng-repeat="option in question.options track by $index" style="padding: 0 0 0 20px;" class="form-inline">
				<div class="text-muted form-group">
					<label ng-if="question.answer_type == 0 || question.answer_type == 1">
						<input type="{{getTypeById(question.answer_type)}}" class="form-control"
									 name="answer{{$parent.$parent.$parent.$index}}{{$parent.$parent.$index}}{{$parent.$index}}"
									 ng-checked="option.selected"
									 data-ng-model="option.selected"
									 data-ng-value="option.selected || 'trick for radio'"
									 ng-click="changeSelection(question, $index)">

						<span>&nbsp;&nbsp;{{option.answer}}</span>
					</label>
					<label ng-if="question.answer_type == 2">
						<input type="{{getTypeById(question.answer_type)}}" class="form-control"
									 name="answer{{$parent.$parent.$parent.$index}}{{$parent.$parent.$index}}{{$parent.$index}}"
									 ng-checked="option.selected"
									 ng-click="changeSelection(question, $index)">

						<span>&nbsp;&nbsp;{{option.answer}}</span>
					</label>
					<textarea ng-if="question.answer_type == 3" style="width:536px;"
										ng-model="option.answer" class="form-control"></textarea>
					<input type="text" ng-model="option.input" class="form-control"
								 ng-if="option.input_required && option.selected">
				</div>
			</div>
		</div>
	</div>
	<blockquote ng-if="!surveys || surveys.length<1" >
		<p>无可用问卷。请联系管理者到后台增加。</p>
	</blockquote>

</div>

<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="selectOk()">确认</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss()">取消</button>
</div>


