<div class="modal-header row">
	<h3 class="modal-title col-sm-2" id="modal-title">选择模版</h3>
	<div class="col-sm-2 text-right m-t-md"><span>材料类别:</span></div>
	<div class="col-sm-3 m-t-md">
		<span>
			<select class="form-control" ng-model="search.cat"
							ng-options="cat._id as cat.name for cat in cats">
			</select>
		</span>
	</div>
	<div class="col-sm-1 text-right m-t-md"><span>模版:</span></div>
	<div class="col-sm-3 m-t-md">
		<span>
			<select class="form-control" ng-model="selectedTemplate"
							ng-options="template._id as template.name for template in templates  | filter: search.cat">
			</select>
    </span>
	</div>
	<div class="col-sm-1">
		<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

</div>
<div cg-busy="myPromise"></div>
<div class="modal-body clearfix" id="modal-body">

	<div ng-if="template">
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label for="inputTitle" class="control-label">消息标题</label>
					<textarea class="form-control" id="inputTitle" rows="2" ng-model="template.title" required></textarea>
				</div>
			</div>
			<div class="col-md-7">
				<div class="thumbnail">
					<img ng-src="{{displayedUrl}}" style="height:90px" />
				</div>
			</div>
		</div>
		<hr/>
		<text-angular ng-model="template.content" ta-bind></text-angular>
	</div>

	<div ng-if="!template" class="blockquote m-t-md">
		编辑文章以前, 请先选择一个模版。
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="selectOk()">选择</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss()">取消</button>
</div>



