<div class="modal-header">
	<h3 class="modal-title pull-left" id="modal-title">选择收信人</h3>
	<em class="m-l-lg p-t-md">选择发送宣教材料的人员</em>
	<button type="button" class="close pull-right" aria-label="Close" ng-click="$dismiss('cancel')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div cg-busy="myPromise"></div>
<div class="modal-body" id="modal-body">
	<div ng-repeat="group in groups track by $index" class="m-a-0 p-a-0 clearfix"> 
		<div class="alert-info">
			<label class="text-primary">
				&nbsp;
				<input type="checkbox" ng-click="toggleGroup($index)">&nbsp;{{group.name}}</label>
		</div> 
		<div class="row my-content-adjust"> 
			<label class="col-sm-3" ng-repeat="user in group.users | localeOrderBy:'name' ">
				<input type="checkbox" class="form-check-input" ng-model="user.selected">&nbsp;{{user.name}}
			</label>
		</div> 
	</div>

</div>
<div class="modal-footer clearfix">
	<button class="btn btn-primary" type="button" ng-click="selectOk()">确认</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">取消</button>
</div>



